@model string[]

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Mumble Telegram bot</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h3>Active Mumble users:</h3>
    <ul class="list-group list-group-flush">
        @if (Model.Length == 0)
        {
            <li class="list-group-item">
                <i>No users connected</i>
            </li>
        }
        @foreach (var username in Model)
        {
            <li class="list-group-item">@username</li>
        }
    </ul>
</div>
</body>
<script src="js/bootstrap.bundle.min.js"></script>
</html>